#murmurations-map{
  height: 480px;
  width: 100%;
  max-width: unset;
}

.murmurations-node{
  margin-bottom: 2em;
}

.murmurations-node div{
  margin-bottom: 10px;
}

.murmurations-node-image {
  vertical-align: top;
  width: 150px;
	/*width: 28.7%;*/
	/*float: left;*/
	margin: 0;
	/*position: relative;*/
}
.murmurations-node-table td {
  word-break:break-word;
  vertical-align: top;
}

.murmurations-node-image img{
  width: 150px;
  height: auto;
}

.murmurations-node-content {
  /*width: 71.3%; */
  width: 700px;
  float: right;
  padding: 0 0 0 45px;
}

.murmurations-node-org-types{
  font-weight:bold;
}

.murmurations-node-tagline{
  font-style: italic;
}

.murmurations-node h3.murmurations-node-name{
  margin-top:1.5em;
  margin-bottom:0.5em;
}

.murmurations-list-field .label{
  font-size: 0.7em;
  color: #888;
  margin-bottom: 0;
}
.murmurations-list-field .value{
  font-size: 0.8em;
}

.murmurations-feed-item{
  margin-bottom: 3em;
}

.murmurations-feed-item .tags{
  font-size:0.9em;
  font-weight: bold;
}

/* Admin styles (should be moved to admin-specific CSS) */
  .murmurations-ag-admin-field {
   padding: 1.5em;
 }

 #murmagg-admin-form {
  margin-left: 2em;
 }

 #murmagg-admin-form fieldset.field-array{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
 }

 #murmagg-admin-form fieldset.field-array legend{
  padding: 5px 0.5em 10px 0.5em;
  margin-left: 2em;
  font-weight: bold;
 }

  #murmagg-admin-form .field {
   margin-bottom: 3em;
   margin-top: 3em;
  }

  #murmagg-admin-form .field label{
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
  }

  #murmagg-admin-form .field select{
    width: 100%;
    max-width: 200px;
  }

  #murmagg-admin-form .field input[type=text] {
    width: 100%;
    max-width: 500px;
  }

  #murmagg-admin-form .array-item .field-object fieldset {
    display: flex;
  }

  #murmagg-admin-form .array-item .field-object fieldset .field{
    margin-top: 0;
    margin-bottom: 0;
  }

  #murmagg-admin-form .array-item .array-item-move-up,
  #murmagg-admin-form .array-item .array-item-move-down
  {
    display: none;
  }

  #murmagg-admin-form .array-item .array-item-toolbox
  {
    margin-top: 5.6em;
    margin-left: 1em;
  }

  #murmagg-admin-form .array-item-list .array-item
  {
    display: flex;
  }

  #murmagg-admin-form .field-array .array-item-add button::before {
    content: "Add new";
  }

  #murmagg-admin-form .field-array button.array-item-remove::before {
    content: "Delete";
    font-weight: normal;
  }




 .murmurations-ag-admin-field label {
   width: 50%;
   max-width: 200px;
   float:left;
 }

 .murmurations-ag-admin-field label, #murmagg-admin-form .field-boolean label{
   width: 50%;
   max-width: 500px;
 }

 .murmurations-ag-admin-field input[type=text],  .murmurations-ag-admin-field textarea,  .murmurations-ag-admin-field div.awesomeplete{
   width: 50%;
   max-width: 500px;
 }

 input.autocomplete-multiple{
   width:500px;
 }

 button.murms-has-icon{
   padding-left: 0;
 }

 button.murms-delete{
   color: #ff0000;
 }

 button.murms-update i.murms-icon::before{
	content: "\f463";
 }

i.murms-icon-update::before{
	content: "\f463";
}

i.murms-icon-delete::before{
	content: "\f182";
}

 .murms-icon{
   font: normal 20px/1 dashicons;
   float: left;
   padding-right:5px;
 }

  .murms-admin-form-section {
	margin-top: 2em;
	margin-bottom: 2em;
  }

 .murms-admin-form-section h2{
   border-bottom: 1px solid #ccc;
 }
